@model IEnumerable<Journey>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
@*            <td>*@
@*                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
@*                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
@*                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
@*            </td>*@
        </tr>
    }
    </tbody>
</table>

