@model JourneyViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="row">
    <div class="alert alert-success" style="display: none;">
        <strong>Ticket(s) added to the cart!</strong>
    </div>
    <div class="col-sm-5 jumbotron">
        <p class="help-block">Find your journey!</p>
        <form id="filter-form" asp-action="Index" method="POST">
            <div class="form-group">
                <div><span asp-validation-for="From" class="text-danger"></span></div>
                <input type="text" asp-for="From" class="form-control" placeholder="From">
            </div>
            <div class="form-group">
                <div><span asp-validation-for="To" class="text-danger"></span></div>
                <input type="text" asp-for="To" class="form-control" placeholder="To">
            </div>
            <div class="form-group">
                <div><span asp-validation-for="Date" class="text-danger"></span></div>
                <input type="date" asp-for="Date" class="form-control">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
        </form>

    </div>
    <div class="col-sm-7">
        <h3 class="h3">
            Trains about to leave
        </h3>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Journeys.GetEnumerator().Current.FromCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Journeys.GetEnumerator().Current.ToCity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Journeys.GetEnumerator().Current.DepartureTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Journeys.GetEnumerator().Current.ArrivalTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Journeys.GetEnumerator().Current.Price) (Economy/Business)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            
            
                @Html.Partial("JourneyResults", Model.Journeys)
            

            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="form-label">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="form-label">Add ticket(s) to cart</h4>

                    </div>
                    <form asp-action="AddToCart" asp-controller="Cart" method="post">
                        <div class="modal-body">
                            <h4 id="journeyLoc"></h4>
                            <h4 id="journeyTime"></h4>
                            <div class="form-group">
                                <label>Class:</label>
                                <div><span asp-validation-for="SelectedClass" class="text-danger"></span></div>
                                <select class="form-control" asp-for="SelectedClass" asp-items="@new SelectList(Enum.GetNames(typeof(Classes)))">
                                    <option disabled>Select a Class</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Seats:</label>
                                <div><span asp-validation-for="Seats" class="text-danger"></span></div>
                                <input class="form-control" asp-for="Seats" value="1"/>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <input type="hidden" id="journeyId" name="id" value=""/>
                            <button type="submit" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off" >Add to cart</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

